{% extends 'base.html' %}
{% block title %}
{% endblock %}

{% block content %}
<ul>
    <li>{{object.category}}</li>
    <li>{{object.author}}</li>
    <li>{{object.title}}</li>
    <li>{{object.text}}</li>
    <li>{{object.count}}</li>
    <li>{{object.money}}</li>
    <li>{{object.created}}</li>
    <li>{{object.updated}}</li>
    <li>
        <div class="carousel-inner">
          {% for image in photo.image.all %}
            <img src="{{ image.image.url }}" class="card-img-top" alt="사진">
          {% endfor %}
        </div>
    </li>
    <li>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <input type="submit" value="댓글" class="btn btn-primary">
        </form>
    </li>
</ul>
{% endblock %}
