.article{
    float: left;
    width: 241px;
    height: 404px;
    background-color: #F9F9F9;
    margin-right: 25px;
    margin-bottom: 25px;
}

.count{
    display: inline-block;
    height: 35px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;

    color: #000000;
}

.area{
    height: 20px;
    padding: 0px 12px;
    background: #FFFFFF;
    border-radius: 10.5px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    text-align: center;

    color: #FFBE00;

}
.white{
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
}

.bg{
    display: none;
    background-color:rgba(0, 0, 0, 0.5); /*살짝 투명한 검정으로 배경색*/
    width: 241px;
    height: 404px;
    position: absolute; /*다른 요소들 위로 겹쳐질 수 있게함*/
    top:0px;
}
.bg_parent{
    width: 241px;
    height: 404px;
    position: absolute; /*다른 요소들 위로 겹쳐질 수 있게함*/
    top:0px;
}

.title{
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;

    color: #FFFFFF;
}

.yellow_font{
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 22px;

    color: #FFBE00;
}

.white_font{
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;

    color: #FFFFFF;
}
.show_more{
    display: inline-block;
    width: 241px;
    height: 51px;
    background: #FFBE00;
    border: 1px solid #FFBE00;
    border-radius: 5px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 51px;

    color: #000000;
}