
#container {
    width: 408px;
    margin: 0 auto;
    margin-top: 5%;
}
.input_box {
    display: inline-block;
    width: 408px;
    height: 52px;
    background-color: #F9F9F9;
    border: 1px solid #FFBE00;
    border-radius: 25px;
    padding-left: 34px;
    padding-right: 34px;
    margin: 10px;
}
.confirm_btn{
    width: 408px;
    height: 72px;
    background: #FFBE00;
    border-radius: 36px;
    border: 0;
    color: white;
    margin: 10px;
}
#bottom_bar{
    width: 200px;
    margin: 0 auto;
    margin-top: 80px;
}