.bold_basic_list{
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;

    color: #000000;
}

.basic_list{
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    color: #5B5B5B;
}

.button_box{
    display: block;
    margin: 0 auto;
    width: 321px;
    height: 52px;

    background: #FFBE00;
    border: 2px solid #FFBE00;
    border-radius: 26px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 52px;
    text-align: center;

    color: #000000;
}